.Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ccc;
    border: 2px solid #939191;
    padding: 10px;
    margin-bottom: 10px;
}
.icon{
    margin-left: 3px;
}
.buttonDel {
    margin: 0 12px;
    width: 100px;
    height: 50px;
    background-color: #b2ddf4;
}