.ContactForm {
    display: flex;
    flex-direction: column;
    border: 2px solid #0c0c0c;
    padding: 20px;
    margin-bottom: 20px;
}

.ContactForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.buttonAdd{
    margin: 0 auto;
    width: 100px;
    height: 50px;
    background-color: #838586;
}